@import "tailwindcss";

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
    --font-pixelify: 'PixelifySans', cursive;
    --font-inter: 'Inter', system-ui, sans-serif;
}

@font-face {
    font-family: "PixelifySans";
    src: url('../font/pixelify-sans.woff2') format('woff2');
    font-weight: 200 300 400 500 700;
    font-style: normal;
    font-display: block;
}


@font-face {
    font-family: "Inter";
    src: url('../font/inter.woff2') format('woff2');
    font-weight: 100 200 300 400 700;
    font-style: normal;
    font-display: block;
}